.box {
  background-color: aquamarine;
  align-items: center;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}
.box input {
  border: none;
}
.box button {
  border: none;
}
